.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.box {
  padding: 20px;
  font-weight: 300;

  width: 345px;
  height: 80px;
  border: 1px solid #979797;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.TRICHROMIS_SALVINI {
  background-image: url(/images/pattern.png);
  width: 375px;
  height: 290px;
}

.ASTAYANAX {
  background-image: url(/images/pattern.png);
  width: 375px;
  height: 290px;
}

.XIPHOPHORUS {
  background-image: url(/images/pattern.png);
  width: 375px;
  height: 290px;
}

.PHOECILIA {
  background-image: url(/images/pattern.png);
  width: 375px;
  height: 350px;
}

.AMBYSTOMA {
  background-image: url(/images/pattern.png);
  width: 375px;
  height: 350px;
}

.CAMBARELLUS {
  background-image: url(/images/pattern.png);
  width: 375px;
  height: 350px;
}
